<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer>
        <div class="container" id='footer'>
            <div class="footer-main-info">
                <div class="footer-contacts">
                    <a href="#" class="footer-logo">english<span class="footer-logo-accent">excellence</span>.</a>
                    <ul class="footer-contacts-list">
                        <li class="footer-contacts-item">
                            <p class="footer-contacts-item-header">Phone number:</p>
                            <a href="tel:+380684439426" class="footer-contracts-items">+380 (68) 443-94-26</a>
                        </li>
                        <li class="footer-contacts-item">
                            <p class="footer-contacts-item-header">Address:</p>
                            <a href="https://maps.app.goo.gl/MmsKpmkQ8r6pUbiY6" class="footer-contracts-items">32a M. Bazhana ave</a>
                        </li>
                    </ul> 
                </div>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-text" href="#">About us</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-text" href="#">Our lessons</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-text" href="#">Teachers</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-text" href="#">Reviews</a>
                    </li>
                    <li class="footer-menu-item">
                        <a class="footer-menu-item-text" href="#">Contact us</a>
                    </li>
                </ul>
                <ul class="footer-socials">
                    <li class="footer-socials-item">
                        <a href="https://www.facebook.com/goITclub/">
                            <svg class="icon">
                                <use href="../img/footer/footer-icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a href="https://www.instagram.com/goitclub/">
                            <svg class="icon">
                                <use href="../img/footer/footer-icons.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a href="https://www.youtube.com/c/GoIT">
                            <svg class="icon">
                                <use href="../img/footer/footer-icons.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-credentials">
                <p class="cred-text">©2023  English Excellence. All rights reserved.</p>
                <ul class="footer-cred-links">
                    <li class="footer-cred-links-item">
                        <a href="">Privacy Policy</a>
                    </li>
                    <li class="footer-cred-links-item">
                        <a href="">Terms of Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
  </body>
</html>
