<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet Our Teachers</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet" />
    </head>
    <body>

        <section class="teachers-section">
        <div class="container">
            <h2 class="section-title">Meet our teachers</h2>
            <p class="section-description">Discover our team of dedicated educators, committed to guiding you on your journey 
                to English proficiency with personalized and engaging instruction
            </p>
            <ul class="card-list">
            <li class="card-item">
                <img src="../img/our-teachers/maria.jpg" alt="Maria - Beginner-level specialist" width="264">
                <div class="card-content">
                <h3 class="card-title">Maria</h3>
                <p class="card-text">
                    A seasoned linguist and our primary specialist in beginner-level instruction, 
                    Maria brings warmth and patience to every class
                </p>
                </div>
            </li>

            <li class="card-item">
                <img src="../img/our-teachers/artem.jpg" alt="Artem - Interactive learning specialist" width="264">
                <div class="card-content">
                <h3 class="card-title">Artem</h3>
                <p class="card-text">
                    With his innovative teaching techniques and a focus on interactive learning, 
                    Artem excels in keeping students engaged and motivated
                </p>
                </div>
            </li>

            <li class="card-item">
                <img src="../img/our-teachers/ilona.jpg" alt="Ilona - Advanced English specialist" width="264">
                <div class="card-content">
                <h3 class="card-title">Ilona</h3>
                <p class="card-text">
                    A specialist in advanced English, Ilona provides intensive instruction, 
                    ensuring students gain confidence in complex language tasks
                </p>
                </div>
            </li>

            <li class="card-item">
                <img src="../img/our-teachers/volodymyr.jpg" alt="Volodymyr - English for specific purposes" width="264">
                <div class="card-content">
                <h3 class="card-title">Volodymyr</h3>
                <p class="card-text">
                    Our expert in English for specific purposes, Volodymyr tailors his approach 
                    to meet individual career and industry-specific language needs
                </p>
                </div>
            </li>
            </ul>
        </div>
        </section>
    </body>
</html>