<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <title>Page 5</title>

  <link rel="stylesheet" href="../css/proposal.css" />
</head>

<body>
  <load src="./partials/header.html" icon-path="./img/sprite.svg#logo" highlight-curr="active" />

  <main>
    <section class="english-section container">
      <h2 class="visually-hidden">Proposal to Leave an Application</h2>
      <h2 class="english-title">Master the <span class="span-language">Language</span> with Our English Package!</h2>
      <div class="english-card-wrapper">
        <div class="decor-card decor-card-1"></div>
        <div class="decor-card decor-card-2"></div>

        <div class="english-card">
          <h3 class="english-card-title">Power of English</h3>
          <div class="english-card-content">
            <div class="english-card-text">
              <ul class="english-benefits">
                <li>
                  <div class="english-icon">
                    <svg width="20" height="20">
                      <use href="../img/icons.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="english-benefits-item">Dive into captivating lessons designed to stimulate your curiosity.</p>
                </li>
                <li>
                  <div class="english-icon">
                    <svg width="20" height="20">
                      <use href="../img/icons.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="english-benefits-item">Learn in a nurturing setting where every student's progress matters.</p>
                </li>
                <li>
                  <div class="english-icon">
                    <svg width="20" height="20">
                      <use href="../img/icons.svg#icon-check"></use>
                    </svg>
                  </div>
                  <p class="english-benefits-item">Experience the satisfaction of real progress as your language skills and confidence grow with every session.</p>
                </li>
              </ul>
              <a href="#leave-application" class="english-btn">Leave an application</a>
            </div>
            <div class="english-card-img">
              <img class="english-card-img-books" src="../img/proposal/books.svg" width="214" height="263" alt="Stack of books">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <load src="./partials/footer.html" />
</body>

</html>