<!-- Section "Reviews" -->
<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">What our <span>students</span> say</h2>
    <p class="reviews__description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="reviews__list">
      <li class="review">
        <div class="review__badge">
          <img
            class="review__photo"
            src="./img/reviews/anna.jpg"
            alt="Photo of Anna"
            width="44"
            height="44"
          />
          <div class="review__who">
            <span class="review__name">Anna</span>
            <span class="review__role">Student</span>
          </div>
        </div>
        <p class="review__text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="review">
        <div class="review__badge">
          <img
            class="review__photo"
            src="./img/reviews/mykhailo.jpg"
            alt="Photo of Mykhailo"
            width="44"
            height="44"
          />
          <div class="review__who">
            <span class="review__name">Mykhailo</span>
            <span class="review__role">Student</span>
          </div>
        </div>
        <p class="review__text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="review">
        <div class="review__badge">
          <img
            class="review__photo"
            src="./img/reviews/victoria.jpg"
            alt="Photo of Victoria"
            width="44"
            height="44"
          />
          <div class="review__who">
            <span class="review__name">Victoria</span>
            <span class="review__role">Student</span>
          </div>
        </div>
        <p class="review__text">
          I love the dynamic and interactive teaching methods used here. It’s a
          great place to learn English in a fun and effective way. I’ve seen a
          big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
